h1 {
    color: orangered;
    font-family: 'Lucida Console';
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.img
{
    size: 10em;
}

.newFont {
    font-size: 5em;
    color: coral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

